body {
    margin: 0;
    background-image: url("ble.jpg");
    background-size: cover;
}

div {
    display: flex;
    border: 2px solid white;
    width: 100%;
    height: 700px;
}

p {
    margin: auto;
    border: 5px solid white;
    border-radius: 100%;
    box-shadow: 5px, 5px, 5px;
    padding: 8%;
    color: white;
    font-size: 180px;
    text-align: center;
}

.name {
    font-size: 30px;
    font-weight: bold;
}